[submodule "hooong.github.io"]
	path = hooong.github.io
	url = git@github.com-hooong:hooong/hooong.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com-hooong:hooong/hooong.github.io.git
	branch = master
